#body{
    margin-left: 5%;
    margin-right: 5%;
}
#center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 10px;
    width: 75px;
}

.confirm{
    width: 40%;
    height: 40px;
    margin: 5%;

}

#color{
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50px;
    border: solid 2px;
}
